p {
	font-size: 10px;
}

a {
	color: indianred;
}

body {
  background-color: lightblue;
}

.link { color: #FF0000; } /* CSS link color (red) */

.link:hover { color: #00FF00; } /* CSS link hover (green) */