a {
	color: indianred;
}

h1 {
  font-family: "Courier New", Courier, monospace;
}

h3 {
  font-family: "Courier New", Courier, monospace;
}

h6 {
  font-family: "Courier New", Courier, monospace;
}

p {
  font-family: "Times New Roman", Times, monospace;
}


.link { color: #FF0000; } /* CSS link color (red) */

.link:hover { color: #00FF00; } /* CSS link hover (green) */