a {
	color: indianred;
}

head {
  font-weight: bold;
}

h1 {
  font-family: "Courier New", Courier, monospace;
}

h3 {
  font-family: "Courier New", Courier, monospace;
}

h6 {
  font-family: "Courier New", Courier, monospace;
}

p {
  font-family: "Times New Roman", Times, monospace;
}


@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

.buttons {
	background-color: #green;
}


.link { color: #FF0000; } /* CSS link color (red) */

.link:hover { color: #00FF00; } /* CSS link hover (green) */